<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rikiahmadfauzi.kodeps2yow">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            <activity android:name=".Menu_Game"/>
            <activity android:name=".NeedForSpeedCarbon"/>
            <activity android:name=".NeedForSpeedMostWanted"/>
            <activity android:name=".NeedForSpeedProStreet"/>
            <activity android:name=".Bornout"/>
            <activity android:name=".RumbleRacing"/>
            <activity android:name=".Downhill"/>
            <activity android:name=".Kode_Balap"/>
            <activity android:name=".Kode_Adventure"/>
            <activity android:name=".Gta"/>
            <activity android:name=".Bully"/>
            <activity android:name=".Lego"/>
            <activity android:name=".Mortal"/>
            <activity android:name=".GodOfWar"/>
            <activity android:name=".Resident"/>
            <activity android:name=".Kode_Arcade"/>
            <activity android:name=".Tekken5"/>
            <activity android:name=".Nfsunderground"/>
            <activity android:name=".Devil"/>
            <activity android:name=".Ultimatespiderman"/>
            <activity android:name=".Teenageninja"/>
            <activity android:name=".Ben10"/>
            <activity android:name=".Login"/>
            <activity android:name=".Daftar"/>
            <activity android:name=".MainActivity"></activity>
    </application>

</manifest>